.accordion {
    background-color: #f8f8f8;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    /* padding: 0 18px; */
    font-size: 15px;;
    display: none;
    background-color: white;
    overflow: hidden;
  }

  h2 {
    text-decoration: underline;
  }
  